<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
		.error{
			color: red;
		}
	</style>
</head>
<body>
<h1>Login</h1>
<form method="post">
    <label>
        <h3 style="display: inline;">username</h3>
        <input type="text" name="username" value="{{username_value}}">
        <span class="error">{{username_error}}</span>
        <br>
    </label>
    <label>
        <h3 style="display: inline;">password</h3>
        <input type="password" name="passw" value="{{pass_value}}">
        <span class="error">{{pass_error}}</span>
        <br>
    </label>
    <br>
    <input type="submit">
</form>
</body>
</html>
